:root {
  --color-very-dark-grayish-blue: #48556A;
  --color-desaturated-dark-blue: #6E8098;
  --color-grayish-blue: #9DAEC2;
  --color-light-grayish-blue: #ECF2F8;
  --color-white: #FFF;
  --ff-base: "Manrope", sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-light-grayish-blue);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.012rem;
  color: var(--color-desaturated-dark-blue);
}

.title {
  font-weight: var(--fw-bold);
  color: var(--color-very-dark-grayish-blue);
}
.title--abstract {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
}
@media only screen and (min-width: 90em) {
  .title--abstract {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.025rem;
  }
}

.article-preview {
  max-width: 32.7rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20rem 1fr;
  position: relative;
  overflow: hidden;
}
.article-preview__image-container {
  border-radius: 1rem 1rem 0rem 0rem;
  overflow: hidden;
}
.article-preview__image-container > img {
  width: 100%;
  transform: translateY(-1.6rem);
}
.article-preview__content-container {
  padding: 3.6rem 3.2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.article-preview__abstract {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.article-preview__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 90em) {
  .article-preview {
    max-width: 73rem;
    grid-template-columns: 28.5rem 1fr;
    grid-template-rows: auto;
    overflow: visible;
  }
  .article-preview__image-container {
    border-radius: 1rem 0rem 0rem 1rem;
  }
  .article-preview__image-container > img {
    width: 122%;
    transform: translateY(0rem);
  }
  .article-preview__content-container {
    padding: 3.2rem 4rem;
    gap: 2rem;
  }
}

.foot-note {
  display: grid;
  grid-template-areas: "avatar name" "avatar date";
  grid-template-columns: 4rem auto;
  column-gap: 1.6rem;
}
.foot-note__avatar {
  grid-area: avatar;
  width: 100%;
  border-radius: 50%;
}
.foot-note__author {
  grid-area: name;
}
.foot-note__published {
  grid-area: date;
}

.share-btn {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background: no-repeat center url("../images/icon-share.svg"), var(--color-light-grayish-blue);
  display: grid;
  place-content: center;
}
.share-btn--popup {
  background: no-repeat center url("../images/icon-share-white.svg"), var(--color-desaturated-dark-blue);
}
@media only screen and (min-width: 90em) {
  .share-btn--popup {
    display: none;
  }
}
.share-btn:hover {
  cursor: pointer;
}

.popup {
  background-color: var(--color-very-dark-grayish-blue);
  padding: 2rem 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.1rem;
  visibility: hidden;
  position: absolute;
}
@media only screen and (min-width: 90em) {
  .popup {
    padding: 1.8rem 3.6rem;
    border-radius: 1rem;
  }
  .popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1.1rem solid;
    border-color: var(--color-very-dark-grayish-blue) transparent transparent transparent;
  }
}
.popup__text {
  text-transform: uppercase;
  color: var(--color-grayish-blue);
}
.popup__links {
  list-style-type: none;
  margin-right: auto;
  display: flex;
  column-gap: 1.5rem;
}

.show {
  visibility: visible;
  width: 100%;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 90em) {
  .show {
    width: auto;
    left: auto;
    bottom: 8.4rem;
    right: -5.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
