.share-btn {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background: 
        no-repeat center url("../images/icon-share.svg"),
        var(--color-light-grayish-blue);

    display: grid;
    place-content: center;

    &--popup {
        background: 
        no-repeat center url("../images/icon-share-white.svg"),
        var(--color-desaturated-dark-blue);

        @media only screen and (min-width: $desktop-width) {
            display: none;
        }
    }

    &:hover {
        cursor: pointer;
    }
}
