body {
    font-family: var(--ff-base);
    font-weight: var(--fw-medium);
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.012rem;
    color: var(--color-desaturated-dark-blue);
}

.title {
    font-weight: var(--fw-bold);
    color: var(--color-very-dark-grayish-blue);

    &--abstract {
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.02rem;

        @media only screen and (min-width: $desktop-width) {
            font-size: 2rem;
            line-height: 2.8rem;
            letter-spacing: 0.025rem;
        }
    }
}
